@model TotalSquashNext.Models.Country

@{
    ViewBag.Title = "Country Details";
}

<h2>@ViewBag.Title</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.countryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.countryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
